<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/public/third_party/bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h1>サンプル</h1>
      <p>
        Node.js + Express を利用したWebアプリケーション開発。
        最初のサンプル。
      </p>
    </div>
  </body>
</html>
