<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>リクエスト情報</title>
  </head>
  <body>
    <h1>Node.js + Express の世界へようこそ</h1>
    <p>本レクチャーではリクエスト情報の中身について学習します。</p>
    <form method="POST" action="/">
      <div>
        <input type="text" id="frm_text" name="frm_text" />
        <input type="checkbox" id="frm_chkbx" name="frm_chkbx" />
      </div>
      <div>
        <input type="submit" />
      </div>
    </form>
  </body>
</html>